/**

STYLES for: tutorial notes

*/

.error {
  color: brown;
  font-weight: bold;
  background: pink;
  padding: 2rem;
}
.bookmark-link {
  background: rgb(245, 76, 15) !important;
  padding: 0.4rem 1rem;
  border: solid 1px brown;
  color: aliceblue !important;
  font-weight: 700;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: cornflowerblue;
  color: midnightblue;
  padding: .8rem 1rem;
  border-raidus: .4rem;
}

h3[id^="vid"] {
  background: mediumslateblue;
  border-left: solid 6px midnightblue;
  color: white;
  padding: 0.3rem 1rem;
}
h3[id^="vid"]::before {
  content: '▶️';
  padding-right: .6rem;
}



/* BOOKMARK */
#bookmark {
  background: cadetblue;
  display: inline-block;
  padding: 1rem;
  border: solid #dbdbdb 4px;
  color: aliceblue;
  transform: skew(20deg);
}

#bookmark a,
#bookmark a:visited {
  color: aliceblue;
}



/* H6 is reserved for definitions */
h6 {
  padding: 1rem;
  border: solid gray 2px;
  border-radius: 1rem;
  background: #ffffe3;
}

/* H4 will be for messages, tips, warnings, timestamps, etc.
   This is the base message format.
*/
h4 {
  padding: 1rem;
  border: solid 2px gray;
  border-radius: 1rem;
}

/* H4 gotchas */
h4[id^="gotcha"] {
  background: mistyrose !important;
  color: brown;
  border-color: brown;
}

/* H4 tips */
h4[id^="tip"] {
  background: #eafbea !important;
  /* color: brown;
  border-color: brown; */
}

/* H4 video time stamps */
h4[id*="---"] {
  background: bisque;
  padding: 1rem;
}


/* Filename formatting */
.code-filename {
  background: beige;
  min-height: 1rem;
  display: inline-block;
  border: solid black 2px;
  padding: 0.3rem;
  color: black;
  font-weight: 500;
  padding-right: 1rem;
  border-radius: 0 5px 5px 0;
  border-left: none !important;
  padding-left: 0;
  margin-top: 2rem;
}

.code-filename::before {
  font-family: FontAwesome;
  content: "\f15c";
  padding: 0.3rem 0.6rem;
  background: black;
  color: white;
  margin: 0;
  padding: 0.5rem 0.7rem;
  margin-right: 0.8rem;
}
